.btn {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: $font-family;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: #000;
  border-radius: 0;
  border: 1px solid #000;
  background-color: #808080;
  background-image: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #000;
  }
}
