// Сделаем viewport великим снова! (привет, IE10)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport {
    width: device-width;
  }
}

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
  min-height: 100%;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  word-break: break-word;
}

[tabindex='-1']:focus {
  outline: none !important;
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
input[type='search'] {
  -webkit-appearance: textfield;
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // Коррекция проблем стилизации для Safari
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  background-color: transparent;
  transition: color 0.3s;

  &:hover,
  &:focus {}

  &:visited {}
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  color: currentColor;
}

h1,
h2,
h3 {
  margin-top: 3em;
  margin-bottom: 0.5em;
}

h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h1 - 2;
}

h3 {
  font-size: $font-size-h1 - 4;
}

h4 {
  font-size: $font-size-h1 - 6;
}

h5 {
  font-size: $font-size-h1 - 6;
}

h6 {
  font-size: $font-size-h1 - 6;
}

// .p,
p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: 1em;
}

address {
  font-style: normal;
}

ul,
ol {
  padding-left: 1.5em;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  line-height: inherit;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid #000;
}

// .small,
small {
  font-size: 80%;
}

sub,
sup {
  font-size: 80%;
}

// .mark,
mark {
  background: #ff0;
  padding: 0.1em 0.3em;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  text-decoration: underline dotted;
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: #fff;
  border-radius: 0;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: #fff;
  border-radius: 0;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  overflow-x: auto;
  tab-size: 2;
}
